body {
    background-color: rgb(232, 211, 232);
    cursor: url("butterfly.png"), pointer;
    width: 100vw;
    height: 100vh;
    padding-top: 5rem;
}

.quizHeader {
    text-align: center;
    border: 0.4rem solid white;
    border-radius: 10px;
    color: white;
    font-family: 'Lora', serif;
    margin: 0em auto;
    font-size: 1.2rem;
    background-color: rgb(180, 116, 180);
    padding: 1rem 1.6rem;
    width: 25%;
    cursor: url("butterfly.png"), pointer;
}

.startButton{
    text-align: center;
}
.start-btn {
    width: 12%;
    height: 5rem;
    margin: 9rem auto;
    font-family: 'Lora', serif;
    font-size: 1.8em;
    background-color: rgb(180, 116, 180);
    border: 0.4rem solid white;
    border-radius: 10px;
    color: white;
    cursor: url("butterfly.png"), pointer;
}

.quiz-game{
    width: 70%;
    margin: 0 auto;
}

.options-box{
    display: none;
    justify-content: space-around;
    flex-direction: column;
    height: 30rem;
    width: 40%;
    margin: 8rem auto;
}


.row1, .row2{
    display: flex;
    justify-content: space-around;
}
 .option{
    font-family: 'Lora', serif;
    font-size: 1.3rem;
    background-color: rgb(180, 116, 180);
    border: 0.4rem solid white;
    border-radius: 10px;
    color: white;
    cursor: url("butterfly.png"), pointer;
    width: 18rem;
    height: 7rem;
    padding: 0rem 0rem;
}
.nextButton{
    font-size: 1.4rem;
    width: 7.5rem;
    height: 5rem;
    background-color: rgb(180, 116, 180);
    border: 0.4rem solid white;
    font-family: 'Lora', serif;
    border-radius: 10px;
    color: white;
    cursor: url("butterfly.png"), pointer;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
