body {
    background-color: rgb(232, 211, 232);
    cursor: url("butterfly.png"), pointer;
    width: 100vw;
    height: 100vh;
    padding-top: 5rem;
}

.quizHeader {
    text-align: center;
    border: 0.4rem solid white;
    border-radius: 10px;
    color: white;
    font-family: 'Lora', serif;
    margin: 0em auto;
    font-size: 1.2rem;
    background-color: rgb(180, 116, 180);
    padding: 1rem 1.6rem;
    width: 22%;
    cursor: url("butterfly.png"), pointer;
}

.startButton {
    text-align: center;
    width: 100%;
    cursor: url("butterfly.png"), pointer;
}

.start-btn {
    width: 12%;
    height: 5rem;
    margin: 9rem auto;
    font-family: 'Lora', serif;
    font-size: 1.8em;
    background-color: rgb(180, 116, 180);
    border: 0.4rem solid white;
    border-radius: 10px;
    color: white;
    cursor: url("butterfly.png"), pointer;
}

/* .optionSizing{
    width: 5rem;
    height: 5rem;
    font-size: 1.2rem;
    text-align: center;
    border: 1px solid black;
} */

.quiz-game{
    border: 2px solid red;
    width: 70%;
    margin: 0 auto;
}

.options-box{
    border: 2px solid black;
    display: none;
    justify-content: space-around;
    flex-direction: column;
    height: 10rem;
    width: 60%;;
    margin: 0 auto;
}

.row1, .row2{
    display: flex;
    justify-content: space-around;
}

